version: "3"

services:
  app:
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
    depends_on:
      - db
  db:
    build:
      context: ./docker/db/
      dockerfile: Dockerfile
      args:
        - BASEOSM_DUMP=${BASEOSM_DUMP}
        - RESTORE_SH=${RESTORE_SH}
    container_name: cne-base
    expose:
      - 5432
    restart: on-failure
    healthcheck:
      test: "exit 0"
    stdin_open: true
    env_file:
      - '.env'
    volumes:
      - dbdata:/var/lib/postgresql/data

volumes:
  dbdata:
